body{
    margin: 0px;
    padding:0px;

}
header{
    border:solid 1px;
    padding:20px 0px;
}
header .logo{
    float:left;
}
nav{
    border: solid 1px;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    

}
nav a{
    margin-left:20px;
    font-size:1.3em;
    text-decoration: none;
}

